body {
  font-family: verdana;
  background-color: #fff;
  color: #333;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;


}

.header {
  text-align: center;
  padding: 50px 0;
}

header {
  text-align: right;
}

.header h1 {
  font-size: 32px;
  color: #333;
}

.header p {
  font-size: 16px;
  /* color: rgb(35, 34, 34); */
}

.main {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.main .section {
  margin-bottom: 30px;
}

.main .section h2 {
  font-size: 24px;
  /* color: #333; */
  /* margin-bottom: 5px; */
  /* } */
}

  .main .section p {
    font-size: 16px;
    /* color: rgb(58, 58, 58); */
    line-height: 1.5;
  }

  .main .section ul li {
    font-size: 16px;
    /* color: rgb(58, 58, 58); */
    line-height: 1.8;

  }



  .main .section ul li:before {
    /* content: "•"; */
    /* color: #3333; */
    margin-right: 10px;
  }

  a {
    color: #0277bd;
    /* Deep blue */
  }